@import url(https://fonts.googleapis.com/css?family=Nunito);

@font-face {
    font-family: 'DIN Pro Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Pro Condensed Regular'), url('fonts/DINPro-Cond.woff') format('woff');
}
body{
    font-family: "DIN Pro Condensed Regular"!important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
  .row .menu-top{
      background: white;
      padding:0px;
  }
  .menu-bar{
    position: absolute;
    top: 75%;
    width: 100%;
  }
  .margin-div{
      background: green;
      height: 10px;
  }
  .buttons-line{
    display: flex;
  }
  .button-med{
    flex-grow: 1;
    width: auto;
    max-width: 11.1%;
    height: auto !important;
    background-color: #dfe0e4;
  }
  .button-med:hover{
    background-color: #b7cd00;
  }
  .info_selected{
    background-color: #b7cd00;
  }
  .menu-bot{
      padding: 0px;
      margin: 0px 5px;
  }
  .img-bot{
    height: 65%;
    margin-top: 4%;
    margin-left: 3%;
    max-width: 15%;
    height: auto;
  }
  .divisor{
    padding-bottom: 3%;
    padding-top: 3%;
}
.input-form{
    width: 98%;
    padding: 1%;
    margin: 1%;
    background: #ecedee;
}
.input-form2{
    width: 48%;
    margin: 1%;
    padding: 1%;
    background: #ecedee;
}
.input-form3{
    width: 48%;
    padding: 1%;
    margin: 1% auto;
    background: #ecedee;
}
.input-img{
    width: 20%;
    height: auto;
    padding: 2% 1%;
    margin: 0%
}

#info_texto{
    font-family: 'DIN Pro Condensed Regular';
    text-align: justify;
    font-size: 1.6vw;
    padding-right: 12px !important;
    margin-right: 12px;
    line-height: 110%;
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    background: #ecedee;
}

.input-field:focus {
    border: 2px solid #6cab29;
}

.main_menu{
    background: #1b2435;
}

.main_menu_button{
    height: 100%;
}
.main_menu_button:hover{
    background: #6cab29;
}

.wa_float{
    position: fixed;
    right: 3%;
    bottom: 3%;
    z-index: 10;
}
.wa_float img{
    height: 70px;
    width: auto;
}
.space{
    margin-left: 8%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px!important;
    padding-left: 0px!important;
}


#tableTech table{
    margin: 30px;
}

#tableTech table tr td{
    border: #111 solid;
}



.ui-datepicker {
    background: white;
    text-align: center;
    width: 300px;
    height: 260px;
    margin: 5px auto 0;
    font: 12pt Arial, sans-serif;
    position: fixed;
}

    .ui-datepicker table {
        width: 100%;
    }

.ui-datepicker-header {
    background: #6cab29;
    color: #ffffff;
    font-family:'Times New Roman';
    border-width: 1px 0 0 0;
    padding: 10px;
}

.ui-datepicker-title {
    text-align: center;
    font-size: 15px;

}

.ui-datepicker-prev {
    float: left;
    cursor: pointer;
    background-position: center -30px;
}

.ui-datepicker-next {
    float: right;
    cursor: pointer;
    background-position: center 0px;
}

.ui-datepicker thead {
    background-color: #f7f7f7;

    /*border-bottom: 1px solid #bbb;*/
}

.ui-datepicker th {
    background-color:#1b2435;
    text-transform: uppercase;
    font-size: 8pt;
    color: white;
    text-align: center;
    /*text-shadow: 1px 0px 0px #fff;*/
    /*filter: dropshadow(color=#fff, offx=1, offy=0);*/
}

.ui-datepicker tbody td {
    padding: 0;
    /*border-right: 1px solid #808080;*/
}

    .ui-datepicker tbody td:last-child {
        border-right: 0px;
    }

.ui-datepicker tbody tr {
    border-bottom: 2px solid white;
}

    .ui-datepicker tbody tr:last-child {
        border-bottom: 0px;
    }

.ui-datepicker a {
    text-decoration: none;
    color: white;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    /*font-weight: bold;*/
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    /*text-shadow: 1px 1px 0px #fff;*/
    /*filter: dropshadow(color=#fff, offx=1, offy=1);*/
}

.ui-datepicker-calendar .ui-state-default {
      background: #9b9b9b;
      color:#ffffff;
      height:40px;
      width:40px;

}

.ui-datepicker-calendar .ui-state-hover {
    background: #b7cd00;
    color: #FFFFFF;
}

.ui-datepicker-calendar .ui-state-active {
    background: #b7cd00;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    color: #e0e0e0;
    text-shadow: 0px 1px 0px #4d7a85;
    border: 1px solid #55838f;
    position: relative;
    margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #D6E4BE;
    color: #000;
}

.button-close{
    background: #1b2435;
    color: white;
    font-size: 1.4vw!important;

}
.button-close:hover {
    color: #b7cd00!important;
}
.button-agend{
    background: #b7cd00;
    color: #000;
    font-size: 1.4vw!important;
}
.button-agend:hover {
    color: white!important;
}
.modal-dialog .modal-body input{
    margin: 15px;
    width: 90%;
    padding: 5px;
}
.modal-dialog .modal-body select{
    margin: 15px;
    width: 90%;
    padding: 5px;
}
.modal-dialog .modal-body h5{
    margin: 0px 15px;
    width: 90%;
    font-size: 1.4vw;
}
.modal-dialog h4{
    font-size: 1.4vw!important;
}
.fc-event, .fc-event-dot{
    background-color: #6cab29!important;
}
.carousel-indicators{
    display: none!important;
}
.dejame{
    font-size: 2.5vw;
    padding: 25px 0px;
    font-family: 'DIN Pro Condensed Regular';
}
#myModal{
    font-family: "DIN Pro Condensed Regular";
    font-size: 1.4vw !important;
}

.img-description-mobile{
    display: none;
}
.img-description{
    display: initial;
}
.img-info{
    display: initial;
}
.img-info-mobile{
    display: none;
}
.img-logo{
    display: initial;
}
.img-logo-mobile{
    display: none;
}
.footer{
    display: initial;
}
.footer-mobile{
    display: none;
}
.contacto{
    display: initial;
}
.contacto-mobile{
    display: none;
}
.con{
    display: initial;
}
.con-mobile{
    display: none;
}
/**Menu responsive*/
.topnav {
    overflow: hidden;
    background-color: #1b2435;
    text-align: center;
  }

.topnav a {
    float: none;
    display: initial;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;;
}

.topnav a:hover {
    background-color: #6cab29;
    color: white;
}

.active {
    color: white;
}

.topnav .icon {
    display: none;
}
.topnav2 {
    overflow: hidden;
    background-color: #ecedee;
    text-align: center
}
.topnav2 a {
    float: none;
    display: initial;
    color: #1b2435;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;;
}
.topnav2 a:hover {
    background-color: #b7cd00;
    color: white;
}

.topnav2 .icon {
    display: none;
}
/*FIN*/

.informate-mobile{
    display: none;
}
.conv{
    display: initial;
}
.conv-mobile{
    display: none;
}

@media only screen and (max-width: 600px) {
#calendar{
    padding: 10%;
}
.intro{
    padding: 15px 15px 5px !important;
}

#info_texto{
    font-size: 20px;
    padding: 3% !important;
    margin: 0px!important;
}
.dejame{
    font-size: 20px;
}
.info_img{
    padding: 3% !important;
}
.img-bot {
    height: 65%;
    margin-top: 0%;
    margin-left: 3%;
    max-width: 12%;
    height: auto;
}
.modal-dialog h4 {
    font-size: 30px!important;
}
.modal-dialog .modal-body h5 {
    margin: 0px 35px;
    font-size: 22px;
}
#myModal{
    font-size: 22px!important;
}
#notifyModal button{
    font-size: 22px!important;
}
#myModal button{
    font-size: 22px!important;
}
.img-description-mobile{
    display: initial;
}
.img-description{
    display: none;
}
.img-info{
    display: none;
}
.img-info-mobile{
    display: initial;
}
.img-logo{
    display: none;
}
.img-logo-mobile{
    display: initial;
}
.row{
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.menu-bar {
    top: 65%;
}
.footer{
    display: none;
}
.footer-mobile{
    display: initial;
}
.menu-bot{
    padding: 0px;
    margin: 2% 5px;
}
.contacto{
    display: none;
}
.contacto-mobile{
    display: initial;
}
input{
    font-size: 20px!important;
}
textarea{
    font-size: 20px!important;
}
.con{
    display: none;
}
.con-mobile{
    display: initial;
}
.input-img {
    width: 40%;
}
.topnav a {
    float: left;
    display: block;
}
.topnav2 a {
    float: left;
    display: block;
}
.informate{
    display: none;
}
.informate-mobile{
    display: initial;
}
.info_selected{
    background-color: transparent;
}
.conv{
    display: none;
}
.conv-mobile{
    display: initial;
}
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav2 a:not(:first-child) {display: none;}
  .topnav2 a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav2.responsive {position: relative;}
    .topnav2.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav2.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
.d-none{
    display: none;
}
